.carousel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 150px;
  position: relative;
}

.box {
  position: absolute;
  top: 0;
  left: 0;
  flex-shrink: 0;
  transition: transform 0.5s, opacity 0.2s;
}

.box0 {
  background-color: red;
}

.box1 {
  background-color: blue;
}

.box2 {
  background-color: burlywood;
}

.box3 {
  background-color: black;
}

.box4 {
  background-color: darkcyan;
}
.box5 {
  background-color: yellow;
}
.box6 {
  background-color: sienna;
}
